.list_width{width: 250px;}
.noborder{border: none !important;}
.bigAvatar{
    margin: 10;
    width: 60;
    height: 60;
  }
.avatar{
    margin: 10;
  }
.Logo{width: 350px !important;
height: 300px !important; margin: auto;}

.form_a{
  cursor: pointer;
}